body {
  margin: 0px;
}

#home {
  background: url("imgs/homebackground3.png") center/cover no-repeat;
  padding-top: 120px;
  padding-bottom: 300px;
}

.hr {
  margin-top: 30px;
  position: relative;
  left: 36%;
  content: "";
  display: block;
  width: 800px;
  height: 2px;
  background-color: rgb(216, 201, 201);
  margin-bottom: 50px;
}
.secondbox {
  background-color: white;
  border-radius: 50px;
  margin-left: 610px;
  margin-right: 610px;
}

.frontend__project {
  height: 500px;
}
.thirdbox__left {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px;
}
.thirdbox {
  display: flex;
}
h1 {
  text-align: center;
  font-size: 100px;
  color: white;
  margin-bottom: 0px;
  margin-top: ;
}
h2 {
  text-align: center;
  padding-top: 20px;
}
h3 {
  text-align: center;
}
.project__side-description {
  display: flex;
}
p{
  margin-top: 0px;
}
